/* Delete Later */
body {
    background-color: white;
    margin: 0;
    scrollbar-width: none;
}

html {
    margin: 0px;
    scrollbar-width: none;
}

.text {
    font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, "System Default", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 21px;
    margin: 0px;
    text-align: start;
    color: black;
    text-decoration: none;
    text-transform: none;
    padding: 0 calc(8px / var(--r-globalnav-text-zoom-scale, 1));

    -webkit-text-stroke-width: 0.01px;
    -webkit-text-stroke-color: black;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.space {
    font-family: "Space Grotesk", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 21px;
    margin: 0px;
    text-align: start;
    color: black;
    text-decoration: none;
    text-transform: none;

    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.thicktext {
    font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, "System Default", sans-serif;
    font-size: 11px;
    font-weight: 500;
    line-height: 21px;
    margin: 0px;
    color: black;
    -webkit-text-stroke: 0.2px black;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

.tag {
    font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, "System Default", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -.01em;
    line-height: 28px;
    margin: 0;
    text-align: start;
    color: #000;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: black;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;


    /* styles for submenu */
    /* display: flex;
    flex-direction: column;
    padding: 11px 7px 0px 0px;
    margin-bottom: -6px;
    color: var(--r-globalnav-color-secondary);
    text-decoration: none;
    transition: color .32s cubic-bezier(.4, 0, .6, 1);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
}

.heading {
    font-family: Inter Regular, Inter Regular Placeholder, sans-serif;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1.86px;
    line-height: 1.2em;
    margin: 0;
    text-align: start;
    color: var(--token-9d914fef-e825-4800-8c3c-f4b2bcdac498, #a1a1a1);
    text-decoration: none;
    text-transform: uppercase;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #a1a1a1;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;


    /* styles for submenu */
    /* padding-left: 11px; */
}

/* background rgba(245, 245, 247, .8) */

/* background: rgba(232, 232, 237, .4);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    visibility: hidden;
    position: fixed;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    transition: opacity .32s cubic-bezier(.4,0,.6,1) 80ms, visibility .32s step-end 80ms; */

.navbackground {
    background-color: rgba(245, 245, 247, .8);
    backdrop-filter: blur(20px);
    position: sticky;
    top: 0px;
    z-index: 3;
}

.nav {
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    /* max-width: 924px; */
    max-width: 1024px;
    padding-top: 0;
    padding-bottom: 0;
    padding-inline-start: 22px;
    padding-inline-end: 22px;
}

.navlist {
    align-items: center;
    cursor: default;
    margin: 0 -8px;
    width: auto;
    height: 44px;
    display: flex;
    justify-content: space-between;
    -webkit-user-select: none;
    user-select: none;
    list-style: none;
}

.logo {
    display: block;
    box-sizing: border-box;
    height: 44px;
    margin: 0;
    padding: 0 calc(8px / var(--r-globalnav-text-zoom-scale, 1));
}

.icon {
    font-size: 17px;
    line-height: 1.2353641176;
    font-weight: 600;
    letter-spacing: -.022em;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
}

.menu {
    /* height: 44px; */
    /* replace with styles below when you want to show */
    /* margin-top: -44px; */
    max-height: calc(100% - 44px);
    overflow-y: hidden;
    /* visibility: hidden; */
    background-color: rgba(245, 245, 247, 1);
    position: absolute;
    left: 0;
    right: 0;
    text-align: start;
}

.menucontent {
    padding-top: 40px;
    padding-bottom: 84px;

    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    /* max-width: 924px; */
    max-width: 1024px;
    z-index: 2;

    padding-inline-start: 22px;
    padding-inline-end: 22px;
    display: flex;
}

.menugroupone {
    max-width: 50%;
    padding-inline-end: 88px;

    margin-bottom: -4px;
    max-width: 25%;
    --r-globalnav-flyout-group-delay: min((var(--r-globalnav-flyout-elevated-group-count) * 80ms) + ((var(--r-globalnav-flyout-group-number) - var(--r-globalnav-flyout-elevated-group-count)) * 40ms), var(--r-globalnav-flyout-group-number) * 80ms);
}

#first {
    margin-top: 6px;
}

.menugrouptwo {
    margin-bottom: -4px;
    max-width: 25%;
    padding-inline-end: 44px;
    --r-globalnav-flyout-group-delay: min((var(--r-globalnav-flyout-elevated-group-count) * 80ms) + ((var(--r-globalnav-flyout-group-number) - var(--r-globalnav-flyout-elevated-group-count)) * 40ms), var(--r-globalnav-flyout-group-number) * 80ms);
}

.menugroupthree {
    margin-bottom: -4px;
    max-width: 25%;
    padding-inline-end: 44px;
    --r-globalnav-flyout-group-delay: min((var(--r-globalnav-flyout-elevated-group-count) * 80ms) + ((var(--r-globalnav-flyout-group-number) - var(--r-globalnav-flyout-elevated-group-count)) * 40ms), var(--r-globalnav-flyout-group-number) * 80ms);
}

.menulist {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search {
    /* margin-top: 44px; */
    max-height: calc(100% - 44px);
    overflow-y: hidden;
    visibility: hidden;
    background-color: rgba(245, 245, 247, 1);
    position: absolute;
    left: 0;
    right: 0;
    text-align: start;
}

.searchcontent {
    padding-top: 40px;
    padding-bottom: 84px;

    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    max-width: 924px;
    z-index: 2;

    padding-inline-start: 22px;
    padding-inline-end: 22px;
    display: flex;
}

.searchbar {
    display: flex
    ;
        align-items: center;
        flex-wrap: nowrap;
        width: calc(100% + 15px);
        height: 2.3529411765em;    
}

.quicklinks {

}






.iconcontainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 16px;
}

.icon {
    /* border-width: 1px;
    border-radius: 16px;
    border-style: solid;
    padding: 10px; */
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#opener {
    display: none;
}





@media only screen and (max-width: 833px) {
    .nav {}

    .navlist {
        height: 50px;
    }

    #link {
        display: none;
    }

    #search {
        margin-left: auto;
        padding-inline: 12px;
    }

    #bag {
        padding-inline: 12px;
    }

    #opener {
        display: block;
        padding-inline-start: 12px;
    }
}